*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#cfd3d9;
    min-height : 2500px;
}

.container{
    width:min(1200px, 100%);
    margin:0 auto;
    padding:30px 40px;
}

#examene , #grile{
    scroll-margin-top: 80px;
}
